@font-face{
    font-family: 'Poppins';
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'Poppins';
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face{
    font-family: 'Poppins';
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}