---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Contact from '../components/Contact.astro';
import Navbar from '../components/Navbar.astro';
import HorizontalBlog from '../components/HorizontalBlog.astro';
import Quotes from '../components/section/Quotes.jsx'
import Portfolio from '../components/section/Portfolio.jsx'
---

<Layout title="qolbudr | Qolbu Dzikru Portofolio - Mobile and Web Developer">
	<main>
		<Navbar/>
		<div class="mb-16 py-5 px-5 md:px-16 lg:px-28" style="margin-top: 80px">
			<div class="flex flex-col md:flex-row flex-basis items-center justify-between gap-10 lg:gap-40">
				<div class="basis-full md:basis-1/2">
					<div class="greeting">
						<div class="flex justify-start relative">
							<div class="greeting-wrap relative">
								<h1 class="text-5xl xl:text-7xl text-slate-800 font-bold">Hey y'all</h1>
								<h1 class="text-5xl xl:text-7xl text-slate-800 mt-3 font-bold">I'm Qolbu!</h1>
								<i class="absolute text-5xl lnr lnr-arrow-right top-0 -right-10 rotate-90 md:rotate-0"></i>
								<div class="absolute w-100 -bottom-5 left-0 right-0">
									<svg viewBox="0 0 859 30" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1.00001 19C0.600015 12.6 21.5 11.3334 32 11.5C135.833 8.83336 361.9 3.00001 435.5 1.00001C527.5 -1.49999 826.5 10.5 847.5 11C864.3 11.4 858.5 15.8333 853.5 18H833C745 15.8333 551.8 11.5 483 11.5C397 11.5 61.5 26.5 32 29C2.50003 31.5 1.50001 27 1.00001 19Z" fill="#22C55E"/>
									</svg>
								</div>
							</div>
						</div>
						<div class="mt-14">
							<h5 class="text-md">My name is <strong>Qolbu Dzikru Rosyadi</strong> i'm currently studied at State University of Surabaya. I'm love learning something new especially about <strong>programming and logic.</strong></h5>
						</div>
						<div class="flex items-center mt-5">
							<div class="relative">
								<h5 class="font-bold">Download CV</h5>
								<div class="bg-black h-0.5 absolute left-0 right-0 bottom-0"></div>
							</div>
							<button class="bg-green-500 rounded-full h-8 w-8 text-white ml-3 flex justify-center items-center">
								<i class="lnr lnr-arrow-right -rotate-45"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="basis-full md:basis-1/2">
					<div class="relative">
						<img src="me.jpg" class="w-100"/>
						<div class="absolute bottom-0 right-0 bg-slate-100">
							<div class="p-5 text-lg flex items-center">
								<a href="#">
									<i class="ti ti-github hover:text-green-500"></i>
								</a>
								<a href="#">
									<i class="ml-8 ti hover:text-green-500 ti-instagram"></i>
								</a>
								<a href="#">
									<i class="ml-8 ti hover:text-green-500 ti-linkedin"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<Quotes client:load/>
		<div class="mb-10 py-5 px-5 md:px-16 lg:px-28">
			<h1 class="text-4xl leading-tight">Someone say you need to <br> attach your <strong>Resume</strong> to <br> <strong>attract</strong> customer</h1>
			<div class="mt-7 inline-flex relative">
				<h3 class="text-xl font-bold">So here is my resume</h3>
				<div class="absolute w-100 -bottom-3 left-0 right-0">
					<svg viewBox="0 0 859 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.00001 19C0.600015 12.6 21.5 11.3334 32 11.5C135.833 8.83336 361.9 3.00001 435.5 1.00001C527.5 -1.49999 826.5 10.5 847.5 11C864.3 11.4 858.5 15.8333 853.5 18H833C745 15.8333 551.8 11.5 483 11.5C397 11.5 61.5 26.5 32 29C2.50003 31.5 1.50001 27 1.00001 19Z" fill="#22C55E"/>
					</svg>
				</div>
			</div>
			<div class="w-full mt-10">
				<div class="flex flex-col md:flex-row flex-basis">
					<div class="basis-full md:basis-1/2">
						<h2 class="text-2xl font-bold">Summary</h2>
						<div class="relative mt-2 mb-10">
							<div class="absolute top-5 left-2 bottom-0 w-0.5 bg-stone-300"></div>
							<div class="flex items-center relative">
								<div class="bg-green-500 rounded-full w-5 h-5"></div>
								<h3 class="text-xl text-green-500 uppercase font-semibold ml-2">Achievement</h3>
							</div>
							<ul class="list-disc ml-12 mt-3 leading-7">
								<li>Honorable Mention Hackathon Hack The Mountain 2.0 by MLH Kathua, India</li>
								<li>2nd Winner Indonesian Federation of Research Innovation (IFPRI) 2021</li>
								<li>3rd Winner Alphabeta Competition UIN Sunan Ampel</li>
								<li>Finalist FYNCI SoftDev STIKOM Bali</li>
								<li>Finalist Code Amcc Amikom Yogyakarta</li>
								<li>Semifinalist Bionix ISE ITS</li>
							</ul>
						</div>
						<h2 class="text-2xl font-bold">Education</h2>
						<div class="relative mt-2 pb-4 md:pb-0">
							<div class="absolute top-5 left-2 bottom-0 w-0.5 bg-stone-300"></div>
							<div class="flex items-center relative">
								<div class="bg-green-500 rounded-full w-5 h-5"></div>
								<h3 class="text-xl text-green-500 uppercase font-semibold ml-2">Universitas Negeri Surabaya</h3>
							</div>
							<div class="ml-8 mt-2 text-sm inline-flex bg-stone-300 px-10 py-2">2019 - Now</div>
						</div>
					</div>
					<div class="basis-full md:basis-1/2">
						<div class="relative mb-10 -mt-1 md:mt-0">
							<div class="absolute top-5 left-2 bottom-0 w-0.5 bg-stone-300"></div>
							<div class="flex items-center relative">
								<div class="bg-green-500 rounded-full w-5 h-5"></div>
								<h3 class="text-xl text-green-500 uppercase font-semibold ml-2">MAN 2 Lamongan</h3>
							</div>
							<div class="ml-8 mt-2 mb-4 text-sm inline-flex bg-stone-300 px-10 py-2">2016 - 2019</div>
							<div class="flex items-center relative">
								<div class="bg-green-500 rounded-full w-5 h-5"></div>
								<h3 class="text-xl text-green-500 uppercase font-semibold ml-2">MTsN Model Babat</h3>
							</div>
							<div class="ml-8 mt-2 mb-4 text-sm inline-flex bg-stone-300 px-10 py-2">2013 - 2016</div>
							<div class="flex items-center relative">
								<div class="bg-green-500 rounded-full w-5 h-5"></div>
								<h3 class="text-xl text-green-500 uppercase font-semibold ml-2">MIM 04 Moropelang</h3>
							</div>
							<div class="ml-8 mt-2 mb-4 text-sm inline-flex bg-stone-300 px-10 py-2">2007 - 2013</div>
						</div>
						<h2 class="text-2xl font-bold">Experience</h2>
						<div class="relative mt-2 mb-10">
							<div class="absolute top-5 left-2 bottom-0 w-0.5 bg-stone-300"></div>
							<div class="flex items-center relative">
								<div class="bg-green-500 rounded-full w-5 h-5"></div>
								<h3 class="text-xl text-green-500 uppercase font-semibold ml-2">Work</h3>
							</div>
							<ul class="list-disc ml-12 mt-3 leading-7">
								<li>Software Developer at Evorty</li>
								<li>Frontend Designer Intern at Kompas Gramedia</li>
								<li>Software Developer Revo Apps Surabaya</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pt-5 px-5 md:px-16 lg:px-28">
			<div class="bg-slate-200 py-10 px-10 md:py-24 md:px-36 md:pb-36">
				<div class="flex justify-between items-center mb-5">
					<h6 class="text-md font-medium">What i do ? <i class="lnr lnr-arrow-down ml-1 text-green-500 font-bold"></i></h6>
					<Contact/>
				</div>
				<div class="grid grid-cols-1 md:grid-cols-2 gap-7">
					<Card title="1. Web Development" description="Create beautifull website that fit your needs. supported by many libraries that usefull for operation."/>
					<Card title="2. Mobile Development" description="Create beautifull mobile native apps as your expectation. Give me your design and workflow and rock it!"/>
					<Card title="3. Cloud Computing" description="Have a virtual server windows/linux but doesn't know how to use it? let's talk and serve your server"/>
					<Card title="4. Other" description="I dont know why you contact me if there is no reason and no problem you can contact me anytime haha :)"/>
				</div>
			</div>
		</div>
		<Portfolio client:load/>
		<div class="mb-10 py-5 px-5 md:px-16 lg:px-28">
			<div class="inline-flex relative">
				<h1 class="text-4xl leading-tight">Wanna <br> read <strong>Something ?</strong></h1>
				<div class="absolute w-100 -bottom-5 left-0 right-0">
					<svg viewBox="0 0 859 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.00001 19C0.600015 12.6 21.5 11.3334 32 11.5C135.833 8.83336 361.9 3.00001 435.5 1.00001C527.5 -1.49999 826.5 10.5 847.5 11C864.3 11.4 858.5 15.8333 853.5 18H833C745 15.8333 551.8 11.5 483 11.5C397 11.5 61.5 26.5 32 29C2.50003 31.5 1.50001 27 1.00001 19Z" fill="#22C55E"/>
					</svg>
				</div>
			</div>
			<div class="flex flex-col md:flex-row flex-basis items-start justify-between mt-20 gap-20">
				<div class="basis-full md:basis-1/2">
					<img src="me.jpg" style="height: 300px" class="w-full"/>
					<div class="blog-details mt-3">
						<div class="flex mb-3 items-center gap-2">
							<div class="bg-green-500 text-white text-sm p-1 rounded-sm">Technology</div>
							<h5 class="text-sm">• 4min</h5>
						</div>
						<h3 class="text-3xl mb-3 font-semibold">M1.00001 19C0.600015 12.6 21.5 11.3334 32 11.5C135.833?</h3>
						<h5 class="text-lg mb-3">Have a virtual server windows/linux but doesn't know how to use it? let's talk and serve your server</h5>
						<div class="flex items-center gap-2">
							<div class="w-10 h-10 border border-green-500 rounded-full flex items-center justify-center">
								<i class="ti ti-user"></i>
							</div>
							<h5 class="text-lg">qolbudr</h5>
						</div>
					</div>
				</div>
				<div class="basis-full md:basis-1/2">
					<HorizontalBlog/>
					<HorizontalBlog/>
					<HorizontalBlog/>
					<HorizontalBlog/>
				</div>
			</div>
		</div>
		<div class="mb-10 py-5 px-5 md:px-16 lg:px-28">
			<div class="bg-stone-900 p-10 md:py-24 md:p-16 text-white">
				<div class="w-full gap-10 md:gap-20 px-0 md:px-10 flex flex-col md:flex-row flex-basis items-center justify-center">
					<div class="basis-full md:basis-1/2">
						<h2 class="text-2xl text-green-500 font-bold">Get in Touch</h2>
						<h5 class="text-lg text-slate-300 my-3">Why waiting so long ? Talk to me about your project and make it real now!</h5>
						<h5 class="text-lg text-green-500 fonr-medium">Let's Connect</h5>
					</div>
					<div class="basis-full md:basis-1/2">
						<div class="flex flex-col md:flex-row flex-basis items-center gap-2 mb-2">
							<div class="basis-full md:basis-1/2 w-full">
								<input type="text" placeholder="Name" class="w-full py-4 px-5 bg-slate-300">
							</div>
							<div class="basis-full md:basis-1/2 w-full">
								<input type="email" placeholder="Email" class="w-full py-4 px-5 bg-slate-300">
							</div>
						</div>
						<input type="text" placeholder="Subject" class="py-4 px-5 bg-slate-300 mb-2 w-full">
						<textarea type="text" placeholder="Message" class="py-4 px-5 bg-slate-300 w-full" rows="5"></textarea>
						<button class="bg-green-500 w-full text-white py-4 px-5">Send Message</button>
					</div>
				</div>
			</div>
		</div>
		<div class="py-5 px-5 md:px-16 lg:px-28">
			<div class="flex flex-col-reverse md:flex-row flex-basis items-center justify-center md:justify-between text-center md:text-left">
				<h5>© Qolbu Dzikru Rosyadi 2021 All rights Reserved</h5>
				<div class="p-5 text-lg flex items-center">
					<a href="#">
						<i class="ml-8 ti hover:text-green-500 ti-themify-favicon"></i>
					</a>
					<a href="#">
						<i class="ml-8 ti ti-github hover:text-green-500"></i>
					</a>
					<a href="#">
						<i class="ml-8 ti hover:text-green-500 ti-instagram"></i>
					</a>
					<a href="#">
						<i class="ml-8 ti hover:text-green-500 ti-linkedin"></i>
					</a>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		font-family: 'Poppins', sans-serrif;
	}
</style>