---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="qolbudr | Qolbu Dzikru Portofolio - Mobile and Web Developer">
	<main>
		<Navbar/>
		<div class="mb-16 py-5 px-5 md:px-16 xl:px-28">
			<div class="flex flex-col md:flex-row flex-basis items-center justify-between gap-10 lg:gap-40">
				<div class="basis-full md:basis-1/2">
					<div class="greeting">
						<div class="flex justify-start relative">
							<div class="greeting-wrap relative">
								<h1 class="text-5xl xl:text-7xl text-slate-800 font-bold">Hey y'all</h1>
								<h1 class="text-5xl xl:text-7xl text-slate-800 mt-3 font-bold">I'm Qolbu!</h1>
								<i class="absolute text-5xl lnr lnr-arrow-right top-0 -right-10 rotate-90 md:rotate-0"></i>
								<div class="absolute w-100 -bottom-5 left-0 right-0">
									<svg viewBox="0 0 859 30" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1.00001 19C0.600015 12.6 21.5 11.3334 32 11.5C135.833 8.83336 361.9 3.00001 435.5 1.00001C527.5 -1.49999 826.5 10.5 847.5 11C864.3 11.4 858.5 15.8333 853.5 18H833C745 15.8333 551.8 11.5 483 11.5C397 11.5 61.5 26.5 32 29C2.50003 31.5 1.50001 27 1.00001 19Z" fill="#22C55E"/>
									</svg>
								</div>
							</div>
						</div>
						<div class="mt-14">
							<h5 class="text-md">My name is <strong>Qolbu Dzikru Rosyadi</strong> i'm currently studied at State University of Surabaya. I'm love learning something new especially about <strong>programming and logic.</strong></h5>
						</div>
						<div class="flex items-center mt-5">
							<div class="relative">
								<h5 class="font-bold">Download CV</h5>
								<div class="bg-black h-0.5 absolute left-0 right-0 bottom-0"></div>
							</div>
							<button class="bg-green-500 rounded-full h-8 w-8 text-white ml-3 flex justify-center items-center">
								<i class="lnr lnr-arrow-right -rotate-45"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="basis-full md:basis-1/2">
					<div class="relative">
						<img src="me.jpg" class="w-100"/>
						<div class="absolute bottom-0 right-0 bg-slate-100">
							<div class="p-5 text-lg flex items-center">
								<a href="#">
									<i class="ti ti-github hover:text-green-500"></i>
								</a>
								<a href="#">
									<i class="ml-8 ti hover:text-green-500 ti-instagram"></i>
								</a>
								<a href="#">
									<i class="ml-8 ti hover:text-green-500 ti-linkedin"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mb-16 py-5 px-5 md:px-16 xl:px-28">
			<div class="bg-stone-900 p-10 md:py-24 md:p-16 text-white">
				<div class="w-full flex items-center justify-center relative">
					<div class="w-full md:w-1/2">
						<h1 class="leading-10 font-extralight text-xl">❝Jangan berhenti tuk melangkah, apalagi saat melintas sendirian di kuburan pada malam hari.❞</h1>
						<div class="flex items-center mt-10">
							<h2 class="text-green-500"> - Someone Somewhere</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		font-family: 'Poppins', sans-serrif;
	}
</style>