---
const { title, description } = Astro.props as Props;
---

<div class="p-5 md:p-10 border border-stone-400 border-solid">
	<h4 class="font-medium text-xl mb-2 md:mb-5">{title}</h4>
	<h5 class="text-md">{description}</h5>
</div>