<a href="#">
	<div class="flex items-center">
			<div class="relative">
				<p>Contact</p>
				<div class="left-0 right-0 h-px bg-black"></div>
			</div>
			<div class="ml-5 flex text-center justify-center text-green-500 items-center w-8 h-8 bg-transparent border-2 border-solid rounded-full border-green-500">
				<i class="lnr lnr-arrow-right -rotate-45"></i>
			</div>
	</div>
</a>