---
	import Logo from './Logo.astro'
	import Contact from './Contact.astro'
---

<div class="w-100 py-5 px-5 md:px-16 xl:px-28 flex flex-basis items-center justify-between sticky top-0 left-0 right-0 bg-slate-100 z-20">
	<div class="basis-full md:basis-1/2">
		<Logo/>
	</div>
	<div class="basis-1/2 invisible hidden lg:visible lg:block">
		<div class="flex text-sm items-center justify-between">
			<a href="#">About</a>
			<a href="#resume">Resume</a>
			<a href="#portfolio">Portfolio</a>
			<a href="#blog">Blog</a>
			<Contact/>
		</div>
	</div>
	<div class="basis-1/2 block lg:invisibile lg:hidden text-right">
		<i id="menu" class="ti ti-menu"></i>
	</div>
</div>
<div id="mobile-menu" style="height: 250px; top: -250px; transition: 0.7s ease-in-out" class="fixed shadow bg-slate-100 left-0 right-0 px-5 py-5 z-10">
	<ul class="list-unstyled">
		<li class="mb-3"><a href="#">About</a></li>
		<li class="mb-3"><a href="#resume">Resume</a></li>
		<li class="mb-3"><a href="#portfolio">Portfolio</a></li>
		<li class="mb-3"><a href="#blog">Blog</a></li>
		<li><Contact/></li>
	</ul>
</div>

<script>
	const menu = document.querySelector('#menu')
	const mobileMenu = document.querySelector('#mobile-menu')

	menu.addEventListener('click', () => {
		if(menu.classList.contains('ti-menu'))
		{
			menu.classList.remove('ti-menu')
			menu.classList.add('ti-close')
			mobileMenu.style.top = '65px'
		}
		else
		{
			menu.classList.remove('ti-close')
			menu.classList.add('ti-menu')
			mobileMenu.style.top = '-300px'
		}
	})
</script>