---
	import Logo from './Logo.astro'
	import Contact from './Contact.astro'
---

<div class="w-100 py-5 px-5 md:px-16 xl:px-28 flex flex-basis items-center justify-between sticky top-0 left-0 right-0 bg-slate-100 z-20">
	<div class="basis-full md:basis-1/2">
		<Logo/>
	</div>
	<div class="basis-1/2 invisible hidden lg:visible lg:block">
		<div class="flex text-sm items-center justify-between">
			<a href="#">About</a>
			<a href="#resume">Resume</a>
			<a href="#portfolio">Portfolio</a>
			<a href="#blog">Blog</a>
			<Contact/>
		</div>
	</div>
</div>